/* 店铺首页导航 */
.mall_nav{z-index:100;height:30px;background:#fafafa;border-bottom:none;}
.m_center{width:1190px;margin:0 auto;}

/*店铺承诺图标*/
.mall_store_shop_img{height:30px;line-height:30px;}
.mall_store_shop_img li{float:left;list-style:none;margin:0 5px;height:26px;}
.mall_store_shop_img li a{font-size:12px;color:#e32a2f; float:left;}
.mall_store_shop_img li a:hover{ text-decoration:none;}
.mall_store_shop_img li b{ float:left;width:24px;height:20px;background:url(iconkefu.png) no-repeat; margin:5px 5px 0;}

/*店铺描述*/
.mall_store_shop_info{width:234px;height:30px;line-height:30px;_color:#fff;color:#333;padding-left:30px;position:relative;z-index:65535;_background:#b7000f; cursor:pointer;}
.mall_store_info_p span{margin-left:6px;margin-bottom:6px;}
.height_to{display:inline-block;background:#a00000;width:33px;height:16px;line-height:18px;text-align:center;margin-top:5px;}
.store_down{background:url(s6.gif) 6px center no-repeat;width:20px;height:5px;display:inline-block;margin-top:11px;}

/*店铺介绍弹出框*/
.mall_store_shop_info_detail{display:none;position:absolute;top:30px;left:0px;width:262px;_border:1px solid #e32a2f;border-top:none;background:#fff;z-index:1000;}
.mall_store_shop_info_addre{width:220px;margin:10px auto 0px;float:left;padding-left:30px;}
.mall_store_shop_info_addre>p{clear:both;line-height:23px;height:23px;color:#959595;font-size:12px;}
.mall_store_shop_info_addre>p>span{color:#666;}
.mall_store_shop_info_addre>p>strong{font-weight:normal;}
.mall_store_info_p{line-height:30px;}
.mall_store_info_p>span,.mall_store_info_p>strong{float:left;}

/*店铺右上角基本信息*/
.mall_store_shop_info_come{padding:10px 0px 10px 30px;}
.mall_store_shop_info_come a{float:left;display:block;width:80px;height:22px;line-height:22px;color:#fff;text-align:center;background:#d6a850;text-decoration:none;margin-right:10px;font-size:12px;}
.mall_store_shop_info_come a:hover{ background:#49a842;}
.mall_store_shop_info_come a.on{background:#a00000;color:#fff;}
.compare{width:225px;margin:10px auto;border-bottom:1px dotted #dbdbdb;padding-bottom:15px;}
.compare_le,.compare_ri{width:86px;}
.compare p,.compare p span{color:#999;}
.compare p span{float:left;}
.compare a.gao_di{background:#c30000;width:28px;height:14px;line-height:14px;*line-height:15px;text-align:center;text-decoration:none;color:#fff;display:block;float:left;margin-top:10px;}
.compare a{float:left;margin-right:3px;text-decoration:none;}
.modi_div{height:30px;line-height:30px;}
.compare_ri a{color:#c30000;}
.compare_le>p>a{color:#666;font-weight:bold;}
.mall_store_shop_info:hover .mall_store_shop_info_detail{display:block;}
.mall_store_shop_info:hover .store_down{background:url(sf_12.gif) 6px center no-repeat;}
.mall_store_shop_info_detail .shopdsr-title{color:#666;font-size:12px;height:20px;line-height:20px;}
.mall_store_shop_info_detail .shopdsr-title span{padding-left:40px;}
.mall_store_shop_info_detail .shopheader-dsr{margin-left:20px;margin-top:5px;width:220px;}
.mall_store_shop_info_detail .shopheader-dsr .de_score{text-align:left;}
.mall_store_shop_info_come .button{background:none;}
.mall_store_shop_info_come .listact{color:#FFFFFF;background:#e32a2f;}
.mall_store_shop_info_come .listact:hover{ background:#ad0210;}
.mall_store_shop_info_addre img{_width:90px;_height:22px;}
.mall_store_info_p .point{margin-top:6px;background:#e32a2f;height:15px;line-height:13px;border-radius:2px 2px 2px 2px;padding:1px 2px 1px 2px;color:#FFFFFF;}
.mall_store_info_p .blow{background:#d6a850;}
.shopdsr-con{ font-size:12px;}
.sdc-num{color:#000; font-weight:normal;}