<form method="POST" action="<{link app=cellphone ctl=admin_clearance act=toAdd }>" id="groupactivity-from">
<div class="goods-detail tableform">
    <h3><{t}>基本信息<{/t}></h3>
	<input type="hidden" name="id" value="<{$item.id}>"
    <div class="division">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" >
          
		<tr>
          <th><{t}>请选择商品：<{/t}></th>
         <td >
			<div>
     <{input type="object" object="goods@b2c" vtype="required" name="goods_id" filter=$goods_filter  multiple="" select="radio" value=$item.goods_id}>
       		
			<div>
           </td>
				
            </tr>
          <tr>
                <th><{t}>开始时间：<{/t}></th>
                <td><{input type="time"  value="{$item.start_time}" name="start_time"}></td>
            </tr>
            <tr>
                <th><{t}>结束时间：<{/t}></th>
                <td><{input type="time" value="{$item.end_time}" name="end_time"}></td>
            </tr> 
			<tr>
                <th><{t}>启用：<{/t}></th>
                <td>
                    <input type="radio" value="true" <{if $item.is_active=='true'}>checked<{/if}> name="is_active" >开启
                    <input type="radio" value="false" <{if $item.is_active!='true'}>checked<{/if}> name="is_active" >关闭
                </td>
            </tr>
			 <tr>
                <th><{t}>排序：<{/t}></th>
                <td><{input type="text" value="{$item.d_order}" name="d_order" size="5" vtype="required&&number"}><em><font>大于零的自然数</font></em></td>
            </tr>
	
        </table>
    </div>
   
</div>
<div class="table-action">
   <{button label="保存" type="submit" id="groupactivity-btn" }>
    <{button label="取消" id="groupactivity-cancel" href=$reUrl}>
</div>
<form>

 
