
<form method="POST" id='settlement-edit-form' action="index.php?app=business&ctl=admin_settlement&act=create" class="tableform">
    <div class="division">
         <input type="hidden" id="store_ids" name="store_ids" value="<{$store_ids}>"/>
		 <input type="hidden" id="order_count" name="order_count" value="<{$order_count}>"/>
        <span style="color: red;">一共<{$order_count}>张订单，分属<{$store_count}>个店铺，点击创建开始结算！</span>
    </div>
</form>

<{area inject='.mainFoot'}>
<div class="table-action"><{button type="submit"  label=$___b2c="创建"|t:'b2c' id='settlement-edit-form-submit'}></div>
<{/area}>


<script>
    (function(){
        var _form = $('settlement-edit-form');
        var btn =$('settlement-edit-form-submit');
        var finder = finderGroup['<{$env.get.finder_id}>'];

        _form.store('target',{
            onComplete:function(){            

            },
            onSuccess:function(response){
                var hash_res_obj = JSON.decode(response);
                if (hash_res_obj.success != undefined && hash_res_obj.success != "")
                {
                    try{
                        var _dialogIns = btn.getParent('.dialog').retrieve('instance');
                    }catch(e){}

                    if(_dialogIns)
                    {
                        _dialogIns.close();
                        finder.refresh.delay(400,finder);
                    }
                }
                else
                {
                    //alert(hash_res_obj.error);
                }            
            }
        });

        btn.addEvent('click',function(){
            _form.fireEvent('submit',{stop:$empty});



        });

    })();
</script>


