<!--<div style="background:url(<{$env.base_url}>/themes/simple/pic/ruzhu.jpg) no-repeat top center; margin:0 0 15px 0;height:400px;"></div>-->
<div><img src="<{$env.base_url}>/themes/simple/pic/ruzhu.png" alt="" /></div>
<div class="themesbt"><b><{t app='b2c'}>商家入驻流程<{/t}> - <{t app='b2c'}>入驻电话<{/t}>：400-0000-000</b></div>
<!--<div class="ruzhu_lijiruzhu"><a href="<{link app='business' ctl='site_store' act='storeapplystep1'}>">立即入驻</a></div>-->
<!--<div class="ruzhu_topzx">
   <ul>
       <li>
           <h2>我的品牌能否入驻?</h2>
            <p>查询您的品牌是否在天猫核准开店标准内</p>    
       </li>
       <li><h2>入驻需要哪些材料?</h2><p>查询您的品牌是否在天猫核准开店标准内</p>    </li>
       <li><h2>我的申请通过了吗? </h2><p>查询您的品牌是否在天猫核准开店标准内</p>    </li>
   </ul>
</div>
-->
<div class="storeapply_cont">
     <div class="apply_step">
           <h2>入驻流程</h2>
             <div style="background:url(<{$env.base_url}>/themes/yifuda2/images/ruzhu1.png) no-repeat top center; width:1192px; margin:20px 0px 40px 0px;height:129px;"></div>
			 
			 <div  class="ruzhu_1">
           <dl class="apply_step01">
                 <dt>01/<{t app='b2c'}>注册企业账号<{/t}></dt>
                 <dd>
                      <p><{t app='b2c'}>注册BIZmall商城企业帐号。<{/t}></p>
                      <a href="<{link app=b2c ctl=site_passport act=signup arg0='seller'}>"><{t app='b2c'}>注册企业账号<{/t}> ></a>
                 </dd>
           </dl>
           <dl class="apply_step02">
                 <dt>02/<{t app='b2c'}>填写资料<{/t}></dt>
                 <dd>
                      <p>1.<{t app='b2c'}>填写申请信息，提交资质；<{/t}></p>
                      <p>2.<{t app='b2c'}>选择店铺类型，在线签署服务协议；<{/t}></p>
                      <p>3.<{t app='b2c'}>邮寄纸质资料。<{/t}></p>
                      <a href="<{link app='business' ctl='site_store' act='storeapplystep1'}>"><{t app='b2c'}>提交入驻申请<{/t}> ></a>
                 </dd>
           </dl>
           <dl class="apply_step03">
                 <dt>03/<{t app='b2c'}>等待审核<{/t}></dt>
                 <dd>
                      <p><{t app='b2c'}>BIZmall5个工作日给到审核结果。<{/t}></p>
                 </dd>
           </dl>
           <dl class="apply_step04">
                 <dt>04/<{t app='b2c'}>缴纳保证金开店<{/t}></dt>
                 <dd>
                      <p>1.<{t app='b2c'}>缴纳技术服务年费、诚信保证金<{/t}></p>
                      <p>2.<{t app='b2c'}>装修店铺，发布商品。<{/t}></p>
                 </dd>
           </dl>
     </div>
</div>
