
<input type="hidden" name="split_order" value='<{$aCart.json_order_split}>'>
<{foreach from=$aCart.order_split item=store key=store_key name=store_name}>
    <{foreach from=$store.slips item=slip key=slip_key name=slip_name}>
        <table class="pro_list_cart_xu section" width="100%" border="0" cellspacing="0" cellpadding="0" class="ddqr_info" store_id="<{$store_key}>" slip_id="<{$slip_key}>" id="storeid_<{$store_key}>_<{$slip_key}>" <{if $smarty.foreach.slip_name.first}>style="margin-top:20px;"<{/if}>>
          <{if $smarty.foreach.slip_name.first}>
          <thead>
          <tr>
          <td colspan="6" style="height:60px; border-right:1px solid #e8e8e8;">
          <div class="cart_shop_topinfo">
              <span><i class="shop_ic iconfont">&#xe60f;</i>店铺：<span class="lan"><a href="<{link app=business ctl=site_shop act=view arg0=$store.info.store_id}>"><{$store.info.store_name}></a></span></span>
              <span>商家：<span class="lan"><{$store.info.shop_name}></span></span>
          </div>
          </td>
          </tr>
            <tr>  
              <th width="420"><{t}>商品<{/t}></th>
              <th width="150"><{t}>规格<{/t}></th>
              <th width="110"><{t}>单价<{/t}></th>
              <th width="130"><{t}>数量<{/t}></th>
              <th><{t}>优惠方式<{/t}></th>
              <th width="130"><{t}>小计（日元）<{/t}></th>
            </tr>
          </thead>
              <{/if}>
          <tbody>
          <{if $item_section}>
              <{foreach from=$item_section item=section}>
                  <{include file=$section.file app=$section.app }>
              <{/foreach}>
          <{/if}>
          
          </tbody>
       </table>
       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="cart_checkout_order section">
       <tbody>
       <!--如果是最后一张订单-->
          <tr class="goods_bj">
           <td id="store_<{$store_key}>" style="padding:15px 0 15px 15px;width:680px;">
           补充说明：<input type="text" class="inputstyle" size="60" name="shipping[<{$store_key}>][<{$slip_key}>][memo]" style="height:42px" />
           </td>
           <td  style="padding:15px 10px 15px 0;width:400px;">
           <table width="100%" store_id="<{$store_key}>" slip_id="<{$slip_key}>" class="J_order_total J_order_total_<{$store_key}>">
           <colgroup>
           <col style="width:100%"></col>
           <col style="width:0%"></col>
           <col style="width:0%"></col>
           </colgroup>
                
                <tr>
                    <td class="bb_none"><p class='fr'>配送方式：</p></td>
                    <td class="bb_none">
                    <{if $slip.shipping}>
                       <select style="border: 1px solid #e6e6e6; float:right;" class="shippingSel J_shippingSel_<{$slip_key}> J_shippingSel_<{$store_key}>_<{$slip_key}>" onchange="if(Order)Order.shippingChangeSplit(this,<{$store_key}>,<{$slip_key}>);"  store_id="<{$store_key}>" slip_id="<{$slip_key}>" name="shipping[<{$store_key}>][<{$slip_key}>][shipping_id]">
                          <{foreach from=$slip.shipping item="shipping" key="key" name="shippings"}>
                          <option protect="<{$shipping.protect}>" protect_money="<{$shipping.protect_money}>" protect_text="<{$shipping.protect_text}>" value="<{$shipping.dt_id}>"><{$shipping.dt_name}>：<{if $shipping.money==0}>免运费<{else}><{$shipping.money|cur_odr}><{/if}></option>
                          <{/foreach}>
                        </select>
                   <{else}>
                    <p class="fl red">暂不支持所选地区的配送</p>
                   <{/if}>
                    </td>
                    <td  class="bb_none fr" style=" margin-top:4px;">
                    <{if $slip.shipping}>
                    <{foreach from=$slip.shipping item="shipping" key="key" name="shippings"}>
                        <{if $shipping.default_type && $shipping.default_type=='true'}>
                        <em class="red1" style='width:100px; margin-top:3px;' id="shipping_money_<{$slip_key}>"><{$shipping.money|cur_odr}></em>
                        <{/if}>
                    <{/foreach}>
                        
                     <{/if}>
                    </td>
			    </tr>
            
            <{if $slip.shipping}>
            <{foreach from=$slip.shipping item="shipping" key="key" name="shippings"}>
                <{if $shipping.protect=='true'}>
                <tr id='protect_<{$shipping.dt_id}>' class="J_project_<{$store_key}>_<{$slip_key}> J_project" <{if $shipping.default_type && $shipping.default_type=='true'}><{else}>style="display:none;"<{/if}>>
                    <td class="bb_none" ><p class='fr'><{t}>物流保价：<{/t}></p></td>
                    <td class="bb_none">
                   <label>
                   <input id="use_protect_<{$shipping.dt_id}>" type="checkbox" name="shipping[<{$store_key}>][<{$slip_key}>][is_protect]" value="1" onchange="if(Order)Order.protectChange(this,<{$store_key}>,<{$slip_key}>,<{$shipping.dt_id}>);"/>
                    <{$shipping.protect_text}>
                    </label>
                    </td >
                    <td  class="bb_none fr">
                    <em class="" style='width:100px;color:#717070' id="protect_money_<{$shipping.dt_id}>"><{$shipping.protect_money|cur_odr}></em>
                    </td>
                </tr>
                <{/if}>
            <{/foreach}>
            <{/if}>
             <{if $smarty.foreach.slip_name.total>1}>            
             <!--<tr>                    
                <td class="bb_none"></td>
                <td class="bb_none"><p class='fr'>订单合计（含运费）：</p>
                </td>
                <td  class="bb_none fr">
                <em class="font_16 red1" style='width:100px;' id="subtotal_slip_<{$store_key}>_<{$slip_key}>">                    
                    <{$slip.subtotal_prefilter_after|cur_odr}>
                </em>
                </td>
             </tr>-->
             <{/if}>
             <{if $smarty.foreach.slip_name.last}>
                <tr>
                    <td class="bb_none"><p class='fr'>店铺优惠：</p></td>
                    <td class="bb_none">
                    <select onchange="userCoupons(this,<{$store_key}>)" style="border: 1px solid #e6e6e6;">
                        <option value="no">--不使用优惠券--</option>
                        <{foreach from=$coupon_lists.$store_key item=list_coupon key=key}>
                            <{if $coupon.$store_key.coupon==$list_coupon.memc_code}>
                            <option value="<{$list_coupon.memc_code}>" selected><{$list_coupon.cpns_name}></option>
                            <{else}>
                            <option value="<{$list_coupon.memc_code}>"><{$list_coupon.cpns_name}></option>
                            <{/if}>
                        <{/foreach}>
                    </select>
                    </td>
                    <td  class="bb_none fr" style=" margin-top:4px;">
                    <em class="red1" style='width:100px;' id='discount_<{$store_key}>'>-<{$discount.$store_key|cur_odr}></em>
                    </td>
                </tr>
                <{/if}>
             <{if $smarty.foreach.slip_name.last}>
                <tr>
                    <td class="bb_none"><p class='fr'>店铺合计（含运费）：</p></td>
                    <td class="bb_none"></td>
                
                    <td class="bb_none fr">
                    <em class="font_16 red1" style='width:100px;' id="subtotal_slip_<{$store_key}>"><{if ($aCart.subtotal_store_good_price.$store_key-$discount.$store_key) > 0  }><{($aCart.subtotal_store_good_price.$store_key-$discount.$store_key)|cur_odr}><{else}><{0|cur_odr}><{/if}></em>
                    </td>
                </tr>
             <{/if}>
            </table>
           </td>
          </tr>
       </tbody>
       </table>
    <{/foreach}>
<{/foreach}>