<{css src="store.css" app="business"}>
<div class="webpage new_reg dis_bl">
    <div class="title">
    <div class="title_img">
    <img src="<{$env.base_url}>/app/business/statics/images/reg_stpe04.jpg" alt="" />
    </div>
    </div>
    <div class="store_4 dis_bl">
    	<div class="store_4t">
    	<h4><{t}>请等待平台的审核...<{/t}></h4>
        <p class="f14">我们将在7个工作日内给到审核结果</p>
        </div>
        
        <div class="store_4f">
        现在您可以：<a href="./" class="lan">到处逛逛</a><a href="<{link app='content' ctl=site_article act=index arg0=39}>" class="lan">了解平台</a>
        <!--<a href="<{link app=business ctl='site_store'  full='1' act='storeinfo'}>"><{t}>完成<{/t}></a>-->
        </div>
    </div>
</div>
       