<{css src="style.css" app="business"}>
<{script src="dialog.js" app="business" pdir="js"}>
<{script src="modedialog.js" app="business" pdir="js"}>
<{script src="load.js" app="business" pdir="js"}>
<{lang_script src="lang.js" app="desktop"}>


<!-- right-->
<div class="member-main member-main2">
   <div>
       <div class="title"><{t}>店铺促销<{/t}></div>
    </div>
     <div id='addr_div' style="">
            <{include file="site/store/promotion/frame.html" app=business}>
    </div> 
    
</div>







