<input type="hidden" name="addr_id" value="<{$addr_id}>">
  <div class="FormWrap" style="background:none" id="region_edit_container">
       <table width="100%" border="0" cellspacing="0" cellpadding="0" class="liststyle data" style="border:none">
       <col class="span-4 bg-gray"/>
       <col class="span-auto"/>
        <tr>
            <th colspan="2">
                <div class="title title2">
                    <div style='float:left;margin-left:100px;cursor:pointer;display:none;'>
                        <input id="address_type_edit_1" type="radio" name="address_type_edit" onclick='return changeRegion(1, "region_edit_container");' value=1 /><label for="address_type_edit_1">中国大陆</label>
                    </div>
                    <div style='float:left;margin-left:200px;cursor:pointer;'>
                        <input id="address_type_edit_2" type="radio" name="address_type_edit" <{if $region_type == 2}> checked="checked" <{/if}> onclick='return changeRegion(2, "region_edit_container");' value=2 /><label for="address_type_edit_2">日本酒店/旅馆</label>
                    </div>
                    <div style='float:left;margin-left:50px;cursor:pointer;'>
                        <input id="address_type_edit_3" type="radio" name="address_type_edit" <{if $region_type == 3}> checked="checked" <{/if}> onclick='return changeRegion(3, "region_edit_container");' value=3 /><label for="address_type_edit_3">日本机场</label>
                    </div>
                    <div style='clear:both;'></div>
                </div>
            </th>
        </tr>
        <tr>
          <th><{t}>默认收货地址：<{/t}></th>
          <td><span><{input type="radio" name="default" options=$defOpt value=$default}></span></td>
        </tr>
        <tr class="tr_name" style="display:none;">
          <th><em>*</em><{t}>姓名：<{/t}></th>
          <td><{input class="inputstyle" name="name" type="text" value=$name}></td>
        </tr>
        <tr class="tr_addr" style="display:none;">
          <th><em>*</em><{t}>地址：<{/t}></th>
          <td><span id="addr_area"></span><{input id="addr" class="inputstyle" type="input" size="50"  name="addr"  value=$addr}></td>
        </tr>
        <tr class="tr_zipcode" style="display:none;">
          <th><em>*</em><{t}>邮编：<{/t}></th>
          <td><{input class="inputstyle" name="zipcode"  vtype="&number&&check_zipcode" onfocus="onFocus(this)" value=$zipcode}><span class='fontColor3' id='zipcode_p'></span></td>
        </tr>
        <tr class="search-condition-container">
            <td colspan=2>
                <div style="width:100%;border-top:1px solid #EEEEEE;margin:10px 0px 5px 0px;">
            </td>
        </tr>
        <tr class="search-condition-container">
            <td style="padding-left:100px" colspan="2">
                通过日本酒店电话号码快速查询日本酒店地址信息。
            </td>
        </tr>
        <tr class="search-condition-container">
            <td colspan="2">
                <div style="padding-left:96px" >
                    <span style="padding-right:10px;">酒店电话：</span>
                    <input class="inputstyle" type="text" id="search_edit_phone" style="width:150px" /><button id="btn_edit_search" type="button" class="btn">查询</button><span style="color:#ED5A55">电话号码查询仅限日本地区</span>
                    <br />
                    <span style="color:#ED5A55">(直接输入数字，例如：034321765)</span>
                </div>
                <div style="width:100%;border-top:1px solid #EEEEEE;margin:10px 0px 5px 0px;">
                <div style='clear:both;'></div>
            </td>
        </tr>
        <tr>
          <th><em>*</em><{t}>收货地址：<{/t}></th>
          <td><span id="checkout-select-area_edit"><{input type="region" name="area" app="ectools" required="true" value=$area callback="selectArea"}></span></td>
        </tr>
        <tr class="tr_div_addr" style="display:<{ $region_type == 2 ? "" : "none" }>">
            <th>
            </th>
            <td>
                <div id="divAddr_edit" style="border:1px solid #CCCCCC;height:30px;"><{if $region_type == 2 }><{$addr}><{/if}></div>
            </td>
        </tr>
        <tr>
          <th><em>*</em><{t}>手机号码：<{/t}></th>
          <td><{input class="inputstyle" id="edit_mobile" name="phone[mobile]" onfocus="onFocus(this)" onblur="onBlur(this)" size="50" vtype="phone" placeholder="手机号码必须输入" value=$phone.mobile}></span><span class='fontColor3' id='mobile_p'></span></td>
        </tr>
        <tr>
          <th><{t}>电话号码<{/t}>:</th>
          <td><{input class="inputstyle" id="edit_telephone" name="phone[telephone]" onfocus="onFocus(this)" onblur="onBlur(this)" type="order_tel" size="50" placeholder="请输入电话号码" vtype="tel" value=$phone.telephone}><span class="infotips"></span>&nbsp;<span class='fontColor3' id='telephone_p'></span></td>
        </tr>

        <tr>
          <th></th>
          <td>
          <{button class="submit-btn" type="submit" rel="_request" id="edit_member_addr_btn" label=$___b2c="提交"|t:'b2c'}>
          <button  onclick="$('addr_edit_div').setStyle('display','none');" class="btn" type="button"> <span><span> <{t}>取消<{/t}></span></span> </button>
          </td>
      </tr>
      </table>
  </div>
<script>
    
    if("<{$region_type}>" == 2){
        displaySearchCondtion(true);
    }
    else{
        displaySearchCondtion(false);
    }
    
    //绑定地域选择第三级下拉选择的change事件
    $('region_edit_container').getElements("select").each(function(item){
        if(item.get("data-level-index") == 2){
            item.addEvent('change', function(e) {
                //日本酒店/旅馆 以外的场合，处理中止
                if($("address_type_add_2").checked != true){
                    return;
                }
                var region_id = item.get("value");
                new Request({
                    url:'<{link app=b2c ctl=site_member act=get_addr}>',
                    method:'post',
                    data:'region_id='+region_id,
                    async:true,
                    onSuccess:function(relist){
                        var addr = eval(relist)[0].p_2;
                        $('region_edit_container').getElementById('addr').set("value", addr);
                        $("divAddr_edit").set("html", addr);
                    }
                }).send();
            });
        }
    });
    //电话号码检索
    $("btn_edit_search").addEvent('click', function(e) {
        var phone = $("search_edit_phone").value;
        if(phone == ""){
            alert("请输入查询电话号码。");
            return;
        }
        new Request({
            url:'<{link app=b2c ctl=site_member act=get_region_addr}>',
            method:'post',
            data:'phone='+phone,
            async:true,
            onSuccess:function(data){
                //data[0]:叶子结点地域行数据
                //data[1]:二级地域列表数据
                //data[2]:三级地域列表数据
                var data = eval(data);
                
                if(data.length == 0) {
                    alert("根据您所输入的电话号码未找到相关酒店,请确认酒店电话的正确性。");
                    return;
                }
                
                //地域路径
				var path = data[0].region_path.split(",");
                
                //选择的地域文本路径
                var selected_area = ""
                
                //重置一级地域
				var region_select = $('checkout-select-area_edit').getElements('select[data-level-index=0]');
				for (i=0;i<region_select[0].length;i++){
				   if (region_select[0][i].value == path[1])
				   {
					  region_select[0][i].selected = true;
                      //一级路径
                      selected_area = 'hotel:' + region_select[0][i].text;
					  break;
				   }
				}
                
                //重置二级地域
                region_select = $('checkout-select-area_edit').getElements('select[data-level-index=1]');
                region_select.setStyle("display", "");
                region_select[0].options.length = 0;
                region_select[0][0]=new Option("请选择",0);
                for (i = 0; i < data[1].length; i ++){
                  region_select[0][i+1] = new Option(data[1][i].local_name, data[1][i].region_id);
                }
				for (i=0;i<region_select[0].length;i++){
				   if (region_select[0][i].value == path[2])
				   {
					  region_select[0][i].selected = true;
                      //二级路径
                      selected_area += "/" + region_select[0][i].text;
					  break;
				   }
				}
                
                //重置三级地域
                region_select = $('checkout-select-area_edit').getElements('select[data-level-index=2]');
                region_select.setStyle("display", "");
                region_select[0].options.length = 0;
                region_select[0][0]=new Option("请选择",0);
                for (i = 0; i < data[2].length; i ++){
                  region_select[0][i+1] = new Option(data[2][i].local_name, data[2][i].region_id);
                }
				for (i=0;i<region_select[0].length;i++){
				   if (region_select[0][i].value == path[3])
				   {
					  region_select[0][i].selected = true;
                      //三级路径
                      selected_area += "/" + region_select[0][i].text;
                      selected_area += ':' + data[0].region_id;
				      $$('input[name=area]').setProperty('value', selected_area);
					  break;
				   }
				}
                var addr = data[0].p_2;
                $('region_edit_container').getElementById('addr').set("value", addr);
                $("divAddr_edit").set("html", addr);
            }
        }).send();
    });

	function onFocus(input){
        $(input.id + '_p').setHTML("");
	}
	
	function onBlur(input){
	  if(input.value.trim() != ''){
	  	  if(!/^\d{11}$/.test(input.value.trim()))
	  	  {
		  	  $(input.id + '_p').setHTML("*<{t}>请输入正确的号码！<{/t}>");
			  return;
	  	  }
	  }
	}

    $('edit_member_addr_btn').addEvent('click',function(e){
        e.stop();
        if(!$('edit_mobile').value && !$('edit_telephone').value){
            Message.error('<{t}>手机号码和电话号码不能同时为空<{/t}>');
            return false;
        }else{
            $('edit_member_addr_btn').getParent('form').submit();
        }
    });
</script> 