
<form method="POST" action="<{link app=cellphone ctl=admin_recstore act=toAdd }>" id="groupactivity-from">
<div class="tableform">
    <h3  align = "center"><{t app='b2c'}>基本信息<{/t}></h3>
	<input type="hidden" name="id" value="<{$item.id}>"
    <div class="division">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" >
     
		<tr>
          <th><{t app='b2c'}>请选择推荐店铺<{/t}>：</th>
         <td >
			<div>
     <{input type="object" object="storemanger@business" vtype="required" name="store_id" filter=$filter  multiple=true }>
       		
			</div>
           </td>		
            </tr>
			<tr>
                <th><{t app='b2c'}>启用<{/t}>：</th>
                <td>
                    <input type="radio" value="true" <{if $column.is_active=='true'}>checked<{/if}> name="is_active" ><{t app='b2c'}>开启<{/t}>
                    <input type="radio" value="false" <{if $column.is_active!='true'}>checked<{/if}> name="is_active" ><{t app='b2c'}>关闭<{/t}>
                </td>
            </tr>
			 <tr>
		
		
        </table>
    </div>
   
</div>
<div class="table-action">
   <{button label=$___b2c="保存"|t:'b2c' type="submit" id="groupactivity-btn" }>
   <{button label=$___b2c="取消"|t:'b2c' id="groupactivity-cancel" href=$reUrl}>
</div>
</form>

