<form method="POST" action="<{link app=cellphone ctl=admin_channelgoods act=toAdd }>" id="groupactivity-from">
<div class="goods-detail tableform">
    <h3><{t}>频道商品信息<{/t}></h3>
	<input type="hidden" name="id" value="<{$channelgoods.id}>"
    <div class="division">
        <table cellpadding="0" cellspacing="0" border="0" width="100%" >
          <tr>
          <th><em><font color="red">*</font></em><{t}>频道页：<{/t}></th>
                <td>
                  <select class=" x-input-select inputstyle"  name="type_id" id="ot" vtype="required">
                  <option value='' >请选择</option>
					<{foreach from=$channeltype item=item}>
	                  <option value='<{$item.type_id}>' <{if $item.type_id==$channelgoods.type_id}>selected<{/if}>><{$item.type_name}>
	                  </option>
					<{/foreach}>
		   		  </select>
                </td>
            </tr>
			<tr>
	          <th><em><font color="red">*</font></em><{t}>请选择商品：<{/t}></th>
	          <td >
				<div>
	     		<{input type="object" object="goods@b2c" vtype="required" name="goods_id" filter=$goods_filter  multiple="" select="radio" value=$channelgoods.goods_id}>
				<div>
	           </td>
             </tr>
			 <tr>
                <th><em><font color="red">*</font></em><{t}>排序：<{/t}></th>
                <td><{input type="text" value="{$channelgoods.d_order}" name="d_order" size="5" vtype="required&&number"}></td>
            </tr>
	
        </table>
    </div>
   
</div>
<div class="table-action">
   <{button label="保存" type="submit" id="groupactivity-btn" }>
    <{button label="取消" id="groupactivity-cancel" href=$reUrl}>
</div>
<form>

 
