/*-------------------------------------------------共用-----------------------------------------------*/
html{background: #fafafa;}
body{background: #fafafa;padding: 8px 8px;}
.webwidth{width:980px;margin:0 auto;}
.registered .user_name,.registered .email,.registered .password,.regist_header .rh_icon{background:url(login_icon.png) no-repeat;}

/*-------------------------------------------------登录、注册-----------------------------------------------*/
.regist_header{background: #fff;margin:0px auto;padding:6px 6px;display: block;overflow: hidden;}
.regist_header .logo2{float: left;width:182px;height:68px;}
.regist_header .logo2 a{width:182px;height:68px;display: block;overflow: hidden;}
.regist_header .bt{float:right;width: 286px;height: 30px;margin-top: 19px; margin-right:11px;}
.registered{display:block;overflow:hidden;padding:46px 0 40px;}
.registered .webwidth{position:relative;z-index:1;}
.zidong_for{clear: both;}
.register-wrap{_display:inline;float:right;margin:0 50px 0 0;padding:18px 30px;border-radius:3px;background:#fff; width:300px;}
.register-wrap h3{color:#090909;font-family: 'Microsoft Yahei';font-size: 25px;font-weight: normal;height: 35px;}
.register-wrap h3 a{font-size: 12px;float: right;color: #08c;}
.register-wrap h3 a:hover{color:#ea5504;}
.registered .loginbox,.registered .loginbox ul{padding: 0 0;margin: 0 0;}
.register-wrap .error{background: no-repeat;border: none;padding: 0 0;margin: 0 0;color:red;}
.lonin_adv{position:absolute;z-index:2;top:0px;left:0px;}
.lonin_adv img{width:520px;height:376px;}
.registered .x-input{width:248px;padding:6px 34px 6px 14px;border:1px solid #dedede;float:none;font-size:14px;color:#666;}
.registered .loginbox .login-v{height:45px;padding: 0 0;margin-top:6px;float: none;}
.registered .loginbox .login-w{height: auto;margin-top: 0;}

.registered .mobileverifycode{background: #fff;}
.registered .checkbox{width:13px;margin-right:10px;border:none;margin-top: 0;}
.login-v .checkbox{float:left;margin-top:3px}
.login-v p{float:left;width:420px}
.registered .login_button{width:285px;height:35px;line-height:normal;background:url(btn.png) no-repeat 0 0;font-family: 'Microsoft Yahei';margin-top:20px;}
.mod_regist_wrap .login_button{margin-top: 0;}
.registered .login_button span{font-size:18px;}
.registered .user_name{background-position:245px 6px;}
.registered .email{background-position:245px -28px;}
.registered .password{background-position:245px -64px}

.mobile_time{ line-height:30px; margin-left:5px;}
.mod_regist_wrap{width:970px;margin:0 auto;padding:5px;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#33000000',endColorstr='#33000000');background-color:rgba(0,0,0,0.2);}
.regist_border{padding:20px 0;background:#FFF;}
.registered_l h4{font-family:'Microsoft Yahei';font-size:14px;font-weight:normal;color:#090909;height:40px;*+line-height:40px;border-bottom:1px solid #e5e5e5;margin-bottom:20px;}
.registered_l h4 a{ display: inline-block; padding:0px 40px; line-height:39px; height:39px;border: 1px solid #e5e5e5;background: #f3f3f3;color: #5e5e5e;}
.registered_l h4 a.active{ background:#fff; color:#ea5504;border-bottom-color:#fff;}
.registered_l h4 a:hover{ text-decoration:none;}
.site{margin:10px 0px;line-height:26px;}
.registered_l{width:519px;border-right:1px solid #e5e5e5;margin-left:40px;}
.registered_l .loginbox{margin-left:32px;}
.registered_r{width:330px;margin-left:40px;}
.registered_lnk,.registered_rimg{width:330px;overflow:hidden;display:block;}
.registered_lnk{color: #666;line-height:50px;margin-top:90px;font-family: 'Microsoft Yahei';font-size: 20px;}
.registered_lnk p{height:50px;position: relative;z-index: 1;line-height:25px}
.registered_lnk a{background:url(btn.png) no-repeat 0 -55px;width: 145px;height:35px;line-height:32px;color: #fff;display:inline-block;overflow: hidden;position: absolute;z-index: 2;top:8px;left:0px;text-align: center;}

.lost-wrap{width:918px;margin:0 auto;padding:18px 30px;background: #fff;border:1px solid #e1e1e1;border-radius:3px;}
.flowStep{padding-top:20px;padding-bottom:40px;border-bottom:1px dotted #e1e1e1}
.flowStep ul{width:690px;margin-left:auto;margin-right:auto}
.flowStep li{float:left;text-align:center;color:#999}
.flowStep span{width:12px;height:12px;float:left;margin-top:-5px;background:url(login_icon.png) no-repeat -17px -158px}
.flowStep .redline{height:2px;background-color:#ea5504;float:left;width:310px}
.flowStep p{margin-top:15px;margin-left:-310px}
.flowStep .last{margin-right:-310px}
.flowStep .current{color:#ea5504;}
.flowStep .current span{background-position:0px -158px}
.lost-wrap .loginbox{padding:40px 0 40px 75px;width: 500px;}
.lost-wrap .error{background: no-repeat;border: none;padding: 0 0;margin: 0 0;color:red; display:inline-block; line-height:30px;}
.lost-wrap .submit-btn,.lost-wrap .common-btn{background:#ea5504;clear: both;}
.lost-wrap .btn{margin:0 0;}
.lost-wrap .lost_ul li{padding-bottom: 10px;color: #666;}
.lost-wrap .lost_ul label{color: #999;}
#verify_mobile{ overflow:hidden;}
.lost-wrap .lost_ul li.button-li{ clear:both; margin-top:15px;}


.lonin_xinren{position:absolute;z-index:3;top:373px;right:40px;}
.sendMobileCode{float:left;padding:6px 14px;background:#aaa;border:1px solid #ddd;margin-left:10px;color:#fff}

.registered .loginbox .login-k{float:none;text-align:left;width:100%;color: #999;padding: 0 0;}
.registered .loginbox .login-v .crl_xu{height: auto;line-height:normal;}

.f_copyright_seton{text-align: center;line-height: 30px;color: #999;width: 100%;margin-top:10px;display: block;overflow: hidden;}
.f_copyright_seton span{margin:0 8px;}
.f_copyright_seton a{color: #999;}
.f_copyright_seton a:hover{color: #ea5504}
.f_copyright_img{display: none;}

.lost-wrap .sendMobileCode{float:left;padding:5px 14px;background:#f4f4f4;border:1px solid #e6e6e6; color:#333; margin-top:-3px; margin-left:0;}
.lost-wrap .getmobilecode{display: inline-block;float: left;vertical-align: middle; margin-left:6px;}
#mobile_success{display: inline-block;float: left;vertical-align: middle;}